body {
  padding-top: 50px;
}
nav{
    background-color: darkred;
}
#a_nav{
    color: white;

}
#span{
    background-color: white;
}
#button{
    color: #8b0000;

}
ul:hover{
  color: #7a0101;
}
h1{
    color: darkred;
}
h2{
    color: #9c0000;
}
h3{
    color: #a40000;
}
h4{
    color: #b90000;
}
#masterDiv {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;


}
.btn2{
    color:white;
}
#HeaderDiv {
    width:80% ;
    float: right;
    margin-right: 7%;
    margin-left: auto;
}
#bilderDiv {
    width: 20%;
    float: left;
    background-color: #7a0101;
    height: 100%;

}